<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
    </div>
    <div class="content">
        <div class="card">
            <h2>{{first_title}}</h2>
            <p class="text">{{first_subtitle}}</p>
            <a href="/post/{{first_id}}">Read</a>
        </div>
    </div>
    <div class="content">
        <div class="card">
            <h2>{{second_title}}</h2>
            <p class="text">{{second_subtitle}}</p>
            <a href="/post/{{second_id}}">Read</a>
        </div>
    </div>
</div>
</body>
<footer>
    <p>Made with ♥️ in Brasil!</p>
</footer>
</html>